
{% extends 'base.html' %}
{% load static %}
{% block title %}
flipkart analyzer
{% endblock %}
<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>
{% block body %}
<section class="text-gray-700 body-font">
    <div>
        <h1 style="text-align: center;font-family: Sofia;" class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Want to Know about your product ?</h1>
    </div>
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="rounded-lg h-64 overflow-hidden">
            
            <a href=""> <img alt="flipkart"  width="600" height="600"  src="{% static '/images/flipkart.jpg' %}"></a>
        </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Get more insights about the product....</h1>
        <p class="mb-8 leading-relaxed">Get price,Features and see what are the people views about the product</p>
        <p class="mb-8 leading-relaxed">Enter product URL of flipkart.com</p>
        <form action="{%url 'flipkart'  %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %} 
        <div class="flex w-full md:justify-start justify-center">
          <input type="text"    class="bg-gray-100 rounded mr-4 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 lg:w-full xl:w-1/2 w-2/4" id='url'name='url' placeholder="https://www.flipkart.com/realme-narzo-20a-glory-silver-32-gb/p/itmca0d14f41a891?pid=MOBFVEATZJB7BYFS&lid=LSTMOBFVEATZJB7BYFSN4HYMB&marketplace=FLIPKART&srno=b_1_1&otracker=clp_banner_1_7.bannerX3.BANNER_mobile-phones-big-diwali-sale-pl99i8k1-store_F8WVUJPE5HIX&fm=neo%2Fmerchandising&iid=1d713ab1-33d3-4aea-86b5-1aa7abd671f8.MOBFVEATZJB7BYFS.SEARCH&ppt=browse&ppn=browse&ssid=sw1p6qh00g0000001604901653368" >
           <button type="submit"  class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Analyze</button></a>
        </div>
      </form>
          </button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}